数据管理工作流.yml
app:
  description: ''
  icon: heart_eyes
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 数据管理工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1782632378900-source-1782632453537-target
      source: '1782632378900'
      sourceHandle: source
      target: '1782632453537'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1782632453537-source-1782632540502-target
      source: '1782632453537'
      sourceHandle: source
      target: '1782632540502'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1782632540502-source-1782632622584-target
      source: '1782632540502'
      sourceHandle: source
      target: '1782632622584'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1782632622584-source-1782632715017-target
      source: '1782632622584'
      sourceHandle: source
      target: '1782632715017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1782632715017-source-1782632884863-target
      source: '1782632715017'
      sourceHandle: source
      target: '1782632884863'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1782632884863-source-1782632982163-target
      source: '1782632884863'
      sourceHandle: source
      target: '1782632982163'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1782632982163-source-1782633081878-target
      source: '1782632982163'
      sourceHandle: source
      target: '1782633081878'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 意图
          max_length: 60000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: intention
      height: 108
      id: '1782632378900'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({text}) {\n      if(text.length > 50){\n        text\
          \ = text.substring(0,50);\n    }\n    return {\n        result: text\n \
          \   }\n}\n"
        code_language: javascript
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 简化意图
        type: code
        variables:
        - value_selector:
          - '1782632378900'
          - intention
          value_type: string
          variable: text
      height: 51
      id: '1782632453537'
      position:
        x: 92.67708587646484
        y: 556.0104179382324
      positionAbsolute:
        x: 92.67708587646484
        y: 556.0104179382324
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - ms0UikfuWpdnjvqoTEwg/wpHpQ6XQrwcjwVTBRFyneiQhq+8v3/L/kHqzNH+XDB5
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1782632453537'
        - result
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1782632540502'
      position:
        x: 416.67708587646484
        y: 261.0104179382324
      positionAbsolute:
        x: 416.67708587646484
        y: 261.0104179382324
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({kwList}) {\n    let result = ''\n    kwList.forEach(item\
          \ => {\n        result += item.content\n        result += \"\\n\"\n    })\n\
          \    return {\n        result: result\n    }\n}\n"
        code_language: javascript
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 处理检索知识
        type: code
        variables:
        - value_selector:
          - '1782632540502'
          - result
          value_type: array[object]
          variable: kwList
      height: 51
      id: '1782632622584'
      position:
        x: 573.6770858764648
        y: 591.0104179382324
      positionAbsolute:
        x: 573.6770858764648
        y: 591.0104179382324
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: "你是一个SQL专家，可以根据用户说的自然语言转为SQL语句。\n  输出格式仅限输出SQL语句，必须用<sql>标签包裹。\n\n\
            \  示例输出：<sql>SELECT * FROM user WHERE status='正常'</sql>\n\n  检索到的相关数据库表结构如下：\n\
            \  {{#处理检索知识.result#}}\n\n  规则：\n  1. 只生成SELECT查询语句，禁止生成INSERT/UPDATE/DELETE/DROP等修改语句\n\
            \  2. 如果意图无法生成有效SQL，输出 <sql>SELECT '无法理解该查询' AS message</sql>\n  3. SQL语句必须是完整可执行的\n\
            \  4. 多表查询时注意外键关系：\n     - consultation.user_id → user.id\n     - consultation.doctor_id\
            \ → doctor.id\n     - risk_prediction.user_id → user.id\n     - daily_checkin.user_id\
            \ → user.id\n     - chat_message.user_id → user.id\n     - life_plan.user_id\
            \ → user.id"
        - id: 45db3abb-c6cf-4fd2-8bc3-8af81ee48af2
          role: user
          text: '{{#1782632378900.intention#}}'
        selected: false
        title: Text2SQL
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782632715017'
      position:
        x: 870.6770858764648
        y: 265.0104179382324
      positionAbsolute:
        x: 870.6770858764648
        y: 265.0104179382324
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({str}) {\n    const extractSQLRegex = /<sql>(.*?)<\\\
          /sql>/is;\n    const match = str.match(extractSQLRegex);\n    let result\
          \ = match ? match[1] : null\n    if(result != null){\n        result = result.replaceAll(\"\
          \\\\n\", \"\")\n    }\n    return {\n        result: result\n    }\n}\n"
        code_language: javascript
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 提取SQL
        type: code
        variables:
        - value_selector:
          - '1782632715017'
          - text
          value_type: string
          variable: str
      height: 51
      id: '1782632884863'
      position:
        x: 1156.6770858764648
        y: 521.0104179382324
      positionAbsolute:
        x: 1156.6770858764648
        y: 521.0104179382324
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: SQL语句
            ja_JP: SQL语句
            pt_BR: SQL语句
            zh_Hans: SQL语句
          llm_description: ''
          max: null
          min: null
          name: sql
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          sql: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: fb66cb90-faaa-496f-b574-7f9ac9a84a95
        provider_name: database workflowadmin
        provider_type: workflow
        selected: false
        title: database workflowadmin
        tool_configurations: {}
        tool_description: ''
        tool_label: database workflowadmin
        tool_name: database_workflow
        tool_node_version: '2'
        tool_parameters:
          sql:
            type: mixed
            value: '{{#1782632884863.result#}}'
        type: tool
      height: 51
      id: '1782632982163'
      position:
        x: 1361.4293932505716
        y: 675.2114283376728
      positionAbsolute:
        x: 1361.4293932505716
        y: 675.2114283376728
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782632982163'
          - result
          value_type: array[object]
          variable: body
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1782633081878'
      position:
        x: 1706.6687595087387
        y: 595.9848122975874
      positionAbsolute:
        x: 1706.6687595087387
        y: 595.9848122975874
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1547.6687595087392
      y: -116.4848122975875
      zoom: 1.0000000000000002
  rag_pipeline_variables: []
